<div class="container-fluid">
  <div class="row step-bar">  
    <ul class="progressbar">
        <li class="active" (click)="stepChange(1)">Project Information</li>
        <li class="active" (click)="stepChange(2)">Cluster</li>
        <li class="active" (click)="stepChange(3)">Workflow</li>
        <li class="active" (click)="stepChange(4)">Monitorings Metrics</li>
    </ul>
  </div>
  <!-- Title -->
  <div class="row">
    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
      <h3>Step 4 : Set the Monitoring Metrics</h3>
    </div>
  </div>
  <div class="row">
  <!-- Form -->
  <form class="form-horizontal">
    <!-- Form Groups -->
    <div class="form-group">
      <label class="control-label col-xs-2 col-sm-2 col-md-2">Reporter :</label>
      <div class="col-xs-9 col-sm-9 col-md-9"> 
        <select name="reporter" class="form-control selectpicker" [(ngModel)]="metrics.reporter">
          <option *ngFor="let reporter of reporterList" [ngValue]="metrics.reporter">{{ reporter }}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-xs-2 col-sm-2 col-md-2">Frequency :</label>
      <div class="col-xs-9 col-sm-9 col-md-9"> 
        <input name="frequency" class="form-control selectpicker" [(ngModel)]="metrics.frequency">
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-xs-11 col-sm-11 col-md-11">
      <div class="pull-right">
        <button type="button" class="btn btn-danger" routerLink="/" routerLinkActive="active">
          <span class="glyphicon glyphicon-remove"></span>
          Cancel
        </button>
        <button type="button" class="btn btn-default" (click)="stepChange(3)">
          <span class="glyphicon glyphicon-arrow-left"></span>
          Previous
        </button>
        <button type="submit" class="btn btn-success">
          Complete
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </div>
    </div>
  </div>
</div>
