<div class="row step-bar">  
  <ul class="progressbar">
      <li class="active">Project Information</li>
      <li class="active">Cluster</li>
      <li class="active">Workflow</li>
      <li class="active">Monitorings Metrics</li>
  </ul>
</div>
<fieldset class="form-horizontal container-fluid">
  <h3>Step 4 : Set the Monitoring Metrics</h3>
</fieldset>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-11 col-sm-11 col-md-11">
      <div class="pull-right">
        <button type="button" class="btn btn-danger" routerLink="/" routerLinkActive="active">
          <span class="glyphicon glyphicon-remove"></span>
          Cancel
        </button>
        <button type="button" class="btn btn-default" routerLink="/create-project-step-3" routerLinkActive="active">
          <span class="glyphicon glyphicon-arrow-left"></span>
          Previous
        </button>
        <button type="submit" class="btn btn-success">
          Complete
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </div>
    </div>
  </div>
</div>
