h3 {
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.workspace {
    margin: 30px;
    height: 500px;
    background-color: #f5f5f5;
    z-index: 0;
}

.sketchpad {
    height: 500px;
    border: 6px solid #f5f5f5;
    border-radius: 20px;
    z-index: 1;
}

.helper {
    position: absolute;
    z-index: 9999;
}

.selector {
    background-color: white; 
    height: 488px; 
    border-left: 4px solid #f1f1f1; 
    padding-left: 0px;
    padding-right: 0px;
}

.droppable {
    height: 488px;
    position: relative;
}

.action {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    background-color: transparent;
}

.action:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

ul.progressbar {
  width: 100%;
  counter-reset: step;
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

.progressbar li {
  list-style-type: none;
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #546A79;
}

.progressbar li.active:hover {
  cursor: pointer;
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 22px;
  height: 22px;
  line-height: 22px;
  display: block;
  text-align: center;
  margin: 0 auto 12px auto;
  margin-top: 4px;
  border-radius: 50%;
  background-color: #E3E3E3;
}

.progressbar li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #E3E3E3;
  /*lines */
  top: 14px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active {
  color: #546A79;
}

.progressbar li.active:before {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  border-color: #0073CF;
  color: white;
  background-color: #0073CF;
  margin: 0 auto 8px auto;
}

/* this is where the change is just added .active class to li:after */
.progressbar li.active + li.active:after {
  background-color: #0073CF;
}

.btn{
    margin-left: 8px;
    margin-top: 15px;
}

.step-bar {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.action-dropdown {
    margin-top: 3px;
}

.panel-group {
    width: 100%;
}

.panel-body {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.workflow-logo {
    height: 30px;
    width: auto;
}

.workflow-logo:hover {
    cursor: move;
}

h5 {
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
}

.btn-actions {
    margin-right: 3px;
}

.settings {
    min-height: 280px;
    border: 6px solid #f5f5f5;
    border-top: 0px solid #f5f5f5; 
    z-index: 1;
}

