<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
      <br>
      <h2 class="text-center">Waves: A Distributed Semantic Stream Management System</h2>
      <br>
      <p class="text-center lead"><b>Waves</b> is the result of a research project that aims to provide smart water management system. Thanks to its abstract level, it could be easily applied on streaming sensor data in other domains.</p>
      <h4 class="text-center"> Try Waves Now By Creating a Project ...</h4>
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <div class="alert alert-success">
            Users can create a Waves project by a set of simple steps and don't need to know the details of technology used in Waves. 
          </div>
          <a class="btn btn-lg btn-primary btn-block" routerLink="/create-project" routerLinkActive="active">Access for Normal User </a>
        </div>
        <div class="col-sm-5">
          <div class="alert alert-danger">
            It requires the users to have a deep understanding the mechanism for the configurations of Waves Components. 
          </div>
          <a class="btn btn-lg btn-block btn-info" routerLink="/import-project" routerLinkActive="active">Access for Waves Experts </a>
        </div>
      </div>
    </div>
  </div>
</div>